
*{
    margin: 0px;
    padding:0px;
    box-sizing: border-box;
}
@media screen and (max-width:768px){
    body{
        background-color:black;
        width: 100%;   
    }

  

    header{
        height: 4rem;
        width: 100%;
        background-color:rgb(51, 50, 50);
      
    }

   header .play img{
    margin-left: 1rem;
    margin-top: 1rem;
   }

   header .lecteur{
    color: brown;
    font-weight: bold;
    font-size: 20px;
    position: absolute;
    margin-top: 1rem;
    margin-left: 1rem;
    

   }

   .barre{
    display: none;
    
}

.lil{
color:white;
margin-top: rem;


}
.max{
color: white;
margin-top: 1.5rem;
}

.Nos{
    color: white;
    margin-top: 1.5rem;
}




.maison{
    display: none;
}


.blanc-1{
    display: flex;
     font-size: 15px;
     justify-content: space-between;
     align-items: center;
     justify-content: center;
     position: fixed;
     bottom: 30px;
     border: 1px solid black;
     height: 4.5rem;
     bottom: 0px;
     width: 100%;
     background-color: rgb(51, 50, 50);
     font-weight: bold;
     margin-right:100px ;
     padding-right: 1rem;
     border-top-right-radius: 15px;
     border-top-left-radius: 15px;
         
    
 }
 .blanc-1 a{
     text-decoration: none;
     color: white;
     padding-left: px;
     margin-left: 20px;
     margin-bottom: 15px;
     

 }

 .blanc-1:visited{
    color:gray
 }

}



@media screen and (min-width:768px) and (max-width:1023px)  {
    
    body{
        width: 100%;
        height: 100%;
        background-color:black;
    }

    header{
        height: 7rem;
        width: 100%;
        background-color:rgb(51, 50, 50);
    }

   header .play img{
    margin-left: 10rem;
    margin-top: 1rem;
   }

   header .lecteur{
    color: brown;
    font-weight: bold;
    font-size: 30px;
    position: absolute;
    margin-top: 1rem;
    margin-left: 1rem;

   }

     .blanc-1{
        display: none;
     }

   .barre{
    float: right;
    height: 1550px;
    width:17%;
    background-color: rgb(51, 50, 50);
    
}

.barre .icone{
    height: 6.5%;
    width: 60%;
    background-color: bisque;
    margin-top: 10%;
    margin-left: 18%;
    border-radius: 100%; 
}

.barre .icone img{
    border-radius: 100%; 
}

.blanc{
    text-align: justify;
    margin-top: 10%;
    margin-left: 5%;
    font-size: 25px;
}
.barre .blanc a{
    text-decoration: none;
    color: white;
}

.blanc a:hover{
    color: gray;
}

.barre .commentaire{
    font-size:14px;
    margin-top: 10%;
    margin-left: 5%;
    color: white;
}

.button{
    border: none;
    height: 1rem;
    width: 4rem;
    border-radius: 100px;
    padding-bottom: 1rem;
    border-radius: 10px;
}

.button:hover{
    box-shadow: 1px 1px 14px;
    background-color: blue;
    color: red;
}

.video{
    display: flex;
    justify-content: space-between;
    margin-top: 5%;
}

.video1{
    animation: anime1 12s infinite;
}

@keyframes anime1 {
    0%{
        transform: translate(0,0);
        opacity: 100%;
    }
    50%{
        transform: translate(0,1040px);
        opacity:0%;
        }

    100%{
        transform: translate(0,0);
        opacity: 0%;
    }
}



.video2{
    animation: anime2 11s infinite;
}

@keyframes anime2 {
    0%{
        transform: translate(0,0);
        opacity: 100%;
    }
    50%{
        transform: translate(0,1040px);
        opacity:0%;
        }

    100%{
        transform: translate(0,0);
        opacity: 0%;
    }
}

.video3{
    animation: anime2 10s infinite;
}

@keyframes anime3 {
    0%{
        transform: translate(0,0);
        opacity: 100%;
    }
    50%{
        transform: translate(0,1040px);
        opacity:0%;
        }

    100%{
        transform: translate(0,0);
        opacity: 0%;
    }
}

.bule1{
    height: 2rem;
    width: 10rem;
    background-color: white;
    border-radius: 50px;
    margin-top: 4rem;
    text-align: center;
    padding-top: 0.5rem;
}

.bule2{
    height: 2rem;
    width: 10rem;
    background-color: white;
    border-radius: 50px;
    margin-top: -2rem;
    text-align: center;
    padding-top: 0.5rem;
    margin-left: -5rem;
}

.bule3{
    height: 2rem;
    width: 10rem;
    background-color: white;
    border-radius: 50px;
    margin-top: 2rem;
    text-align: center;
    padding-top: 0.5rem;
    margin-left: 5rem;
}

.bule4{
    height: 2rem;
    width: 10rem;
    background-color: white;
    border-radius: 50px;
    margin-top: 11rem;
    text-align: center;
    padding-top: 0.5rem;
    margin-left: -15rem;
}

.bule5{
    height: 2rem;
    width: 10rem;
    background-color: white;
    border-radius: 50px;
    margin-top: -2rem;
    text-align: center;
    padding-top: 0.5rem;
    margin-left: 2rem;
}


.bule6{
    height: 2rem;
    width: 10rem;
    background-color: white;
    border-radius: 50px;
    margin-top: 7rem;
    text-align: center;
    padding-top: 0.5rem;
    margin-left: -13rem;
}

.bule7{
    height: 2rem;
    width: 10rem;
    background-color: white;
    border-radius: 50px;
    margin-top: 7rem;
    text-align: center;
    padding-top: 0.5rem;
    margin-left: 4rem;
}

.bule8{
    height: 2rem;
    width: 10rem;
    background-color: white;
    border-radius: 50px;
    margin-top: -2rem;
    text-align: center;
    padding-top: 0.5rem;
    margin-left: 1rem;
}

.bule9{
    height: 2rem;
    width: 10rem;
    background-color:white;
    border-radius: 50px;
    margin-top: 10rem;
    text-align: center;
    padding-top: 0.5rem;
    margin-left: -2rem;
}
    

.maison{
    display: flex;
    margin-left: 1rem;
    margin-top: 4rem;
   
}


.maison .bule{
    text-align: center;
    padding-top:10px;
}
.grande .maison{
    display: flex;
    
}

.grande .maison a{
    text-decoration: none;
    color: black;
}

.ano{
    display: flex;
    justify-content: center;
    justify-content: space-between;
    margin-top: 5rem;
   
}

.lil{
    height: 18rem;
    width: 18rem;
    border: 1px solid black;
    margin-left: 2rem;
}

.max{
    height: 18rem;
    width: 18rem;
    border: 1px solid black;
}

.Nos{
    height: 18rem;
    width: 18rem;
    border: 1px solid black;
    margin-right: 2rem;
}


.ano1{
    display: flex;
    justify-content: center;
    justify-content: space-between;
    margin-top: 7rem;
   
}

.lil{
    height: 18rem;
    width: 18rem;
    border: 1px solid black;
    margin-left: 2rem;
}

.max{
    height: 18rem;
    width: 18rem;
    border: 1px solid black;
}

.Nos{
    height: 18rem;
    width: 18rem;
    border: 1px solid black;
    margin-right: 2rem;
}

.ano2{
    display: flex;
    justify-content: center;
    justify-content: space-between;
    margin-top: 7rem;
   
}

.lil{
    height: 14rem;
    width: 14rem;
    border: 1px solid black;
    margin-left: 2rem;
}

.max{
    height: 14rem;
    width: 14rem;
    border: 1px solid black;
}

.Nos{
    height: 14rem;
    width: 14rem;
    border: 1px solid black;
    margin-right: 2rem;
}

.ano .titre{
    text-transform: uppercase;
    font-weight: bold;
    
}

.ano1 .titre{
    text-transform: uppercase;
    font-weight: bold;
}

.ano2 .titre{
    text-transform: uppercase;
    font-weight: bold;
}

.lil{
    color:white
    
    }
    .max{
    color: white;
    }
    
    .Nos{
        color: white;
    }

    hr{
        margin-top: 1rem;
        height: 0.5rem;
        background-color: black;
        border: none;
    }

    .barre .blanc a{
        text-decoration: none;
        color: white;
        display: flex;
        margin-top: 1rem; 
    }

    .barre .blanc a img{
        margin-right: 1rem;
      
    }



}


@media screen and (min-width:1024px)
{
    
    
    body{
        background-color:black;
        width: 100%;
        height: 100%;
       
    }
    
    
    
    /*header*/
    
    header{
        height: 7rem;
        width: 100%;
        background-color:rgb(51, 50, 50);
    }

   header .play img{
    margin-left: 20rem;
    margin-top: 1rem;
   }

   header .lecteur{
    color: brown;
    font-weight: bold;
    font-size: 30px;
    position: absolute;
    margin-top: 1rem;
    margin-left: 1rem;
    

   }
    
    .barre{
        float: right;
        height: 1550px;
        width:17%;
        background-color: rgb(51, 50, 50);
        
    }
    
    .barre .icone{
        height: 6.5%;
        width: 40%;
        background-color: bisque;
        margin-top: 10%;
        margin-left: 4rem;
        border-radius: 100%; 
    }
    
    .barre .icone img{
        border-radius: 100%; 
    }
    
    .blanc{
        text-align: justify;
        margin-top: 10%;
        margin-left: 10%;
        font-size: 25px;
    }
    .barre .blanc a{
        text-decoration: none;
        color: white;
    }
    
    
    .barre .commentaire{
        font-size:14px;
        margin-top: 10%;
        margin-left: 5%;
        color: white;
    }
    
    .button{
        border: none;
        height: 1rem;
        width: 4rem;
        border-radius: 100px;
        padding-bottom: 1rem;
        border-radius: 10px;
    }
    
    .button:hover{
        box-shadow: 1px 1px 14px;
        background-color: blue;
        color: red;
    }
    
    .video{
        display: flex;
        justify-content: space-between;
        margin-top: 5%;
    }
    
    .video1{
        animation: anime1 12s infinite;
    }
    
    @keyframes anime1 {
        0%{
            transform: translate(0,0);
            opacity: 100%;
        }
        50%{
            transform: translate(0,1040px);
            opacity:0%;
            }
    
        100%{
            transform: translate(0,0);
            opacity: 0%;
        }
    }
    
    
    
    .video2{
        animation: anime2 11s infinite;
    }
    
    @keyframes anime2 {
        0%{
            transform: translate(0,0);
            opacity: 100%;
        }
        50%{
            transform: translate(0,1040px);
            opacity:0%;
            }
    
        100%{
            transform: translate(0,0);
            opacity: 0%;
        }
    }
    
    .video3{
        animation: anime2 10s infinite;
    }
    
    @keyframes anime3 {
        0%{
            transform: translate(0,0);
            opacity: 100%;
        }
        50%{
            transform: translate(0,1040px);
            opacity:0%;
            }
    
        100%{
            transform: translate(0,0);
            opacity: 0%;
        }
    }
    
    .bule1{
        height: 2rem;
        width: 10rem;
        background-color: white;
        border-radius: 50px;
        margin-top: 4rem;
        text-align: center;
        padding-top: 0.5rem;
    }
    
    .bule2{
        height: 2rem;
        width: 10rem;
        background-color: white;
        border-radius: 50px;
        margin-top: -2rem;
        text-align: center;
        padding-top: 0.5rem;
        margin-left: -5rem;
    }
    
    .bule3{
        height: 2rem;
        width: 10rem;
        background-color: white;
        border-radius: 50px;
        margin-top: 2rem;
        text-align: center;
        padding-top: 0.5rem;
        margin-left: 5rem;
    }
    
    .bule4{
        height: 2rem;
        width: 10rem;
        background-color: white;
        border-radius: 50px;
        margin-top: 11rem;
        text-align: center;
        padding-top: 0.5rem;
        margin-left: -15rem;
    }
    
    .bule5{
        height: 2rem;
        width: 10rem;
        background-color: white;
        border-radius: 50px;
        margin-top: -2rem;
        text-align: center;
        padding-top: 0.5rem;
        margin-left: 2rem;
    }
    
    
    .bule6{
        height: 2rem;
        width: 10rem;
        background-color: white;
        border-radius: 50px;
        margin-top: 7rem;
        text-align: center;
        padding-top: 0.5rem;
        margin-left: -13rem;
    }
    
    .bule7{
        height: 2rem;
        width: 10rem;
        background-color: white;
        border-radius: 50px;
        margin-top: 7rem;
        text-align: center;
        padding-top: 0.5rem;
        margin-left: 4rem;
    }
    
    .bule8{
        height: 2rem;
        width: 10rem;
        background-color: white;
        border-radius: 50px;
        margin-top: -2rem;
        text-align: center;
        padding-top: 0.5rem;
        margin-left: 1rem;
    }
    
    .bule9{
        height: 2rem;
        width: 10rem;
        background-color:white;
        border-radius: 50px;
        margin-top: 10rem;
        text-align: center;
        padding-top: 0.5rem;
        margin-left: -2rem;
    }
    
    .maison{
        display: flex;
        margin-left: 1rem;
        margin-top: 4rem;
       
    }
    
    
    .maison .bule{
        text-align: center;
        padding-top:10px;
    }
    .grande .maison{
        display: flex;
        
    }
    
    .grande .maison a{
        text-decoration: none;
        color: black;
    }
    
    .ano{
        display: flex;
        justify-content: center;
        justify-content: space-between;
        margin-top: 5rem;
       
    }
    
    .lil{
        height: 18rem;
        width: 18rem;
        border: 1px solid black;
        margin-left: 2rem;
    }
    
    .max{
        height: 18rem;
        width: 18rem;
        border: 1px solid black;
    }
    
    .Nos{
        height: 18rem;
        width: 18rem;
        border: 1px solid black;
        margin-right: 2rem;
    }
    
    
    .ano1{
        display: flex;
        justify-content: center;
        justify-content: space-between;
        margin-top: 7rem;
       
    }
    
    .lil{
        height: 18rem;
        width: 18rem;
        border: 1px solid black;
        margin-left: 2rem;
    }
    
    .max{
        height: 18rem;
        width: 18rem;
        border: 1px solid black;
    }
    
    .Nos{
        height: 18rem;
        width: 18rem;
        border: 1px solid black;
        margin-right: 2rem;
    }
    
    .ano2{
        display: flex;
        justify-content: center;
        justify-content: space-between;
        margin-top: 7rem;
       
    }
    
    .lil{
        height: 18rem;
        width: 18rem;
        border: 1px solid black;
        margin-left: 2rem;
    }
    
    .max{
        height: 18rem;
        width: 18rem;
        border: 1px solid black;
    }
    
    .Nos{
        height: 18rem;
        width: 18rem;
        border: 1px solid black;
        margin-right: 2rem;
    }

    .ano .titre{
        text-transform: uppercase;
        font-weight: bold;
       
    }

    .ano1 .titre{
        text-transform: uppercase;
        font-weight: bold;
    }

    .ano2 .titre{
        text-transform: uppercase;
        font-weight: bold;
    }
    .lil{
        color:white
        
        }
        .max{
        color: white;
        }
        
        .Nos{
            color: white;
        }

        .blanc-1{
            display: none;
        }

        hr{
            margin-top: 1rem;
            height: 0.5rem;
            background-color: black;
            border: none;
        }
    
        .barre .blanc a{
            text-decoration: none;
            color: white;
            display: flex;
            margin-top: 1rem; 
        }
    
        .barre .blanc a img{
            margin-right: 1rem;
          
        }
    
}

